@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar .shopnm {
  font-family: "Satisfy", cursor;
  font-size: 18px;
}
.nav-content {
  text-decoration: none;
  color: aquamarine;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: RGB(13, 88, 92);
  height: 10vh;
  margin: 0 0;
}

.addtocartbtn {
  height: 25px;
  width: 62px;
  background-color: RGB(13, 88, 92);
  color: white;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}
.addtocartbtn:hover {
  height: 25px;
  width: 62px;
  background-color: maroon;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

li {
  list-style-type: none;
}
.heading {
  font-family: "Satisfy", cursor;
  font-size: 32px;
  text-shadow: -2px -1px RGB(13, 88, 92);
}

.image-block img {
  height: 250px;
  width: 250px;
}

.description {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.heading {
  text-align: center;
  padding-top: 20px;
}
.sub-container {
  display: inline-block;
  height: 20rem;
  margin: 3%;
  border-radius: 2.5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container {
  margin-top: 2%;
}
.btn {
  padding: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Item {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  margin: 25px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.Item img {
  width: 200px;
}

.Item .descrip {
  width: 100vw;
  font-size: 30px;
}

.count input {
  width: 50px;
  text-align: center;
  font-weight: bold;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
.prodbtn {
  outline: none;
  border: none;
}

.prod-container {
  margin-top: 4%;
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.prod-image img {
  height: 25rem;
  width: 25rem;
}
.prod-image {
}

.right-container {
  width: 50%;
  margin: 30px 0px;
  display: inline-block;
}
.right-container .proname,
.modelname,
.madeby {
  font-family: "Piazzolla", serif;
  font-size: 2rem;
  font-weight: bold;
}
.right-container .info {
  font-family: "Roboto Slab", serif;
  margin: 10px;
}
.right-container button {
  width: 120px;
  height: 50px;
  background-color: rgb(9, 13, 72);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .prod-container .right-container {
    margin-left: 70px;
    /* margin:auto; */
  }
  .prod-container {
    width: auto;
    display: inline-block;
    height: auto;
    /* margin-left:100px; */
  }

  .Item .descrip {
    margin-left: 50px;
  }
  .Item {
    width: auto;
    display: inline-block;
    height: auto;
  }
  .sub-container {
    margin-left: 47px;
  }
}
.image-focus {
  cursor: pointer;
}
